## <center><div class="alert alert-info">Car-Sales-Price-Prediction</div></center>

Import The Required Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import the data

In [2]:
car_sales = pd.read_csv("data/car-sales-extended-missing-data.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

Using `Pandas Profiling` for EDA purpose

pip install pandas-profiling

In [3]:
from ydata_profiling import ProfileReport
profile = ProfileReport(car_sales, title="Profiling Report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

Checking the data types

In [4]:
car_sales.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

Information on the data

In [5]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           951 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [6]:
car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

Our data contained some null value, lets drop the data where Price Column is missing and fill the rest of the data

In [7]:
car_sales.dropna(subset="Price", inplace=True)

In [8]:
car_sales.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

Here we have drop the value where the price column was missing, lets fill the rest of the data

In [9]:
# Prepare the data
x = car_sales.drop("Price", axis=1) # Feature (X)
y = car_sales["Price"]

In [10]:
# Fill missing values with Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Define Columns
categorical_feature = ["Make", "Colour"]
door_feature        = ["Doors"         ]
numerical_feature   = ["Odometer (KM)" ]

# FIll categorical value with 'missing' & numerical value with mean
categorical_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer        = SimpleImputer(strategy="constant", fill_value=4) # here 4 is mode. np.mode(car_sales["Doors"])
numerical_imputer   = SimpleImputer(strategy="mean")

# Create an imputer (something that fills missing data)
processing = ColumnTransformer([("categorical_process_1",categorical_imputer, categorical_feature),
                                ("door_imputer_1",door_imputer, door_feature),
                                ("numerical_imputer_1", numerical_imputer, numerical_feature)],
                              remainder="passthrough")

# Transform the data
filled_data_x = processing.fit_transform(x)
filled_data_x

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

# Filling missing value with Pandas
car_sales["Make"].fillna("Missing", inplace = True)
car_sales["Colour"].fillna("Missing", inplace = True)
car_sales["Odometer (KM)"].fillna(np.mean(car_sales["Odometer (KM)"]), inplace = True)
car_sales["Doors"].fillna(4, inplace=True)

In [11]:
car_sales.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [12]:
filled_data_x = pd.DataFrame(filled_data_x, columns=["Make", "Colour", "Doors", "Odometer (KM)"])
filled_data_x

        Make Colour Doors Odometer (KM)
0      Honda  White   4.0       35431.0
1        BMW   Blue   5.0      192714.0
2      Honda  White   4.0       84714.0
3     Toyota  White   4.0      154365.0
4     Nissan   Blue   3.0      181577.0
..       ...    ...   ...           ...
945   Toyota  Black   4.0       35820.0
946  missing  White   3.0      155144.0
947   Nissan   Blue   4.0       66604.0
948    Honda  White   4.0      215883.0
949   Toyota   Blue   4.0      248360.0

[950 rows x 4 columns]

In [13]:
# now convert the categorical data into numerical data
from sklearn.preprocessing import OneHotEncoder
ohe_model = OneHotEncoder()

from sklearn.compose import ColumnTransformer

# Cetegorical value
categorical_value = ["Make", "Colour", "Doors"]

# Process
process = ColumnTransformer([("process1", ohe_model, categorical_value)],
                              remainder="passthrough")

# Transformed data
transformed_filled_data_x = process.fit_transform(filled_data_x)
transformed_filled_data_x

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

# Converting the categorical data into numerical data using Pandas
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies

In [14]:
# Predicting the value
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
model = RandomForestRegressor(n_estimators=100)
# Splitting the data into test and train set
x_train, x_test, y_train, y_test = train_test_split(transformed_filled_data_x, y, test_size=0.25)

In [15]:
# Finding the pattern inside the data
model.fit(x_train, y_train)

RandomForestRegressor()

In [16]:
# Score
model.score(x_test, y_test)

0.2607075779623299

In [17]:
# Predicting thr value
y_preds = model.predict(x_test)
y_preds

array([ 9899.73      ,  9296.135     , 12856.19      , 12553.14      ,
       15539.16      , 14291.65      , 18634.43      , 14152.84      ,
       17795.41      , 15037.72341017, 11598.97186508, 12328.74      ,
       13232.73375   , 15410.83      , 12757.26      , 11841.12      ,
       16792.013     , 18761.59      , 14088.58      , 24790.36      ,
       12323.8       , 18613.61      , 30425.56      , 16253.28      ,
        8366.51      , 11395.775     , 26362.        , 14014.01      ,
       18142.45831566, 17885.61116378, 25521.72      ,  7337.04      ,
       13547.64      , 18126.72      , 43568.52      , 21348.74      ,
       23553.59      , 14878.19      , 16966.13      , 10001.20666667,
       13417.7995    , 12875.08017857, 24570.02      , 20030.26628571,
       26441.75      , 18745.73      , 20406.2       , 19147.23      ,
       13817.55      ,  8552.14      , 15249.34      , 13417.7995    ,
       13363.59      , 19152.66      , 11890.52      ,  7713.11375   ,
        7979.71      , 13674.82      , 18973.09      , 17521.7505    ,
       31361.09      , 27111.65      , 13643.34      , 12875.08017857,
       16323.82      ,  8792.575     , 13353.96      ,  9094.73      ,
       10391.55      , 17668.39      , 13233.02      , 23406.81      ,
       17321.94      , 14339.39      , 23775.28      , 13528.18      ,
        9450.53      , 18142.45831566, 18408.26      , 10387.44      ,
       15232.82      ,  6461.09      ,  6733.43      , 15654.01      ,
       22239.44      , 10094.44      , 11054.66      , 15957.49      ,
       18149.58      ,  6840.62      , 21945.18      , 46443.72      ,
       10985.96      , 16913.07      , 22311.39      , 14124.5       ,
       28304.93      ,  9312.01      , 12653.78      , 17803.67916667,
       11523.38      , 20025.54      , 26515.38      , 16943.89      ,
        9956.25      , 12104.65      , 12353.16      , 10583.08      ,
        7947.84      , 14493.9525    , 15146.57      , 15737.19      ,
       13388.02      , 12914.26      , 16152.72      , 12637.79      ,
       21592.89      , 12875.08017857, 10522.42      , 16529.69      ,
       17232.53      ,  8492.07      , 20406.2       , 18126.72      ,
       17572.07      ,  9893.61      , 12378.99      , 24677.22      ,
        8714.        , 13056.84      ,  8381.73      ,  9764.17      ,
       22030.78      , 18138.14      , 11432.99      , 21772.14      ,
        7931.85      , 17512.28      , 16921.71      ,  7797.3       ,
        7453.73      ,  8660.85      , 20245.08      , 13657.53      ,
       17499.59      , 15760.01      , 13579.08      , 11443.11      ,
       36214.07      , 21162.58      ,  9979.37      , 14645.73      ,
       10353.93      , 13298.95      , 11269.97      , 11612.78      ,
       11539.09      , 13219.22      , 27482.34      , 10958.24      ,
        7409.3       , 13648.3688438 , 31030.86      , 19617.55      ,
       12493.91      , 18594.4345    , 29844.84      , 20412.04      ,
        7541.85      , 18142.45831566, 19606.88      , 12944.89      ,
       22899.18      , 11374.11      , 11146.88      , 12523.74      ,
       19198.59      , 13564.99      , 14682.5       , 15445.58      ,
       12765.31      , 12629.03      , 13106.78      , 15050.61      ,
       13602.00666667, 10550.42      , 22758.81      , 16537.28      ,
        7403.52      , 13276.82141089, 11534.27      , 11977.45      ,
       20116.719     , 17107.34083333, 18957.52      , 15481.72      ,
       10812.29      , 15104.2       ,  9983.82      ,  9709.92      ,
       26776.28      , 20180.67      , 11593.55      , 22055.83      ,
       21276.69      , 14054.89      , 11745.51      , 18746.55      ,
       17126.36      , 21582.18      , 12840.66      , 22996.71      ,
       11504.21      ,  9569.99      ,  9335.64      , 13995.94      ,
       17027.83438889, 11141.29      , 13000.04      , 18142.45831566,
       12653.78      , 13054.75      , 12018.71      , 21536.34      ,
       20001.18754221, 38370.91      ,  9656.07      , 18008.08      ,
       10905.24      ,  7909.53      , 15536.86      , 10317.21      ,
       17718.11      ,  9078.58      , 16755.34      , 11238.06      ,
       15446.01      , 15315.05      ])

In [18]:
import pickle
pickle.dump(model, open("model_car_sales_price_prediction.pkl","wb"))

### <center><div class="alert alert-info"> * * * End * * * </div></center>